
/* Universal selector allows listed properties to apply to entire document (overriding selector properties notwithstanding) */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* Code was largely consolidated to reduce redundancy to the best of my ability! */



body {
    background-color: #d9dcd6;
}


/* CSS to style the top line that includes the nav h1 heading as well as nav bar */

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}


/* separate line for h1 due to the different font size and type in comparison to the text in the nav section */

h1 {
    display: inline;
    font-size: 3em;
}


/* CSS to style the three 3 "discoloration" letters to make the 'SEO' portion of the h1 header emphasized */

.seo {
    color: #d9dcd6;
}


/* CSS coding for the nav bar on the top right */

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-decoration: none;
    list-style-type: none;
}


/* Added a main element to conform to structured semantics */

main {
    width: 75%;
    display: inline-block;
    margin-left: 20px; 
}


/* This selector replaces the "benefits-[combined elements]" selector in the starter code in order to consolidate */

.three-images {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    text-align: left;
}


/* Needed to add specificity to the 'p' element when doing left-justification so that other 'p' elements were not affected */

.three-images p {
    text-align: left; 
}


/* CSS code to apply to all h2 headings */

h2 {
    margin-bottom: 20px;
    font-size: 36px;
    display: flex;
}


/* CSS code that applies to h3 level headings in the 'aside' portion of the page */
h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Created this group to consolidate the starter code which had a few lines for each individual image. All images shared them same properties so this reduced that redundancy */

main img {
    max-height: 200px;
    float: left;
    margin-right: 25px;
}


/* CSS pertaining to the nav bar */

li , a {
    display: inline-block;
    margin-left: 25px;
    color: #ffffff;
    text-decoration: none;
}


/* Added this to conform to semantic structuring. Styles the side bar to the right off the page */

aside {
    margin-bottom: 32px;
    color: #ffffff;
    display: inline; 
}


/* selector specificity for only 'divs' in the 'section' element containing 'divs' */

section div {
    margin-bottom: 32px;
    color: #ffffff;
}


/* Code to style all bodies of text in 'p' elements. Changed UOM from 'px' to 'em' just for practice */

p {
    font-size: 1em;
}


/* this pertains to the background image above the content in the 'main' element. Rather than input the image in the HTML file, the image is coded as a background URL in the style sheet. */

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}


/* Needed to keep this as the other two images that 'float' in each 'section' element of the 'main' element inherited the 'float' property depicted in the 'main img' selector. Basically it consolidates to only having one separate class for 'float' rather than have three separate ones as in the starter code. */

.float-right {
    float: right;
    margin-left: 25px;
}


/* This class selector consolidates the previous starter code to reduce have 6+ selector groups to just the one */

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    text-align: left; 
}


/* Styles the img specifically coded within containers with 'benefits' class selector */

.benefits img {
    margin: 10px;
   justify-items: center;
   max-height: 200px;
    padding-left: 55px;
    display:flex;
}

/* Added element selector to conform to semantic structure */

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 16px;
    align-content: center;
}


/* this overrides the 'flex' property added to the h2 headings in the 'main' container so that it stays in the center of the page */

footer h2 {
    display:block;
}